.select_container{
    position: relative;
    max-width: 300px;
    width: 100%;
}
.select-btn{
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #BBBBBB;
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    font-size: 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
/* .select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
} */
.list-items{
    max-height: 400px;
    overflow-y: auto;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
    position: absolute;
    z-index: 500;
    width: 100%;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}

/* search */

.select_search{
  position: relative;
}
.select_search .search_icon{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.select_search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.select_search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.select_search input::placeholder{
  color: #bfbfbf;
}

/* scroll bar */
.list-items::-webkit-scrollbar{
  width: 7px;
}
.list-items::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.list-items::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.list-items::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}