* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  display: flex;
  position: relative;
}

.app_body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.login_bg {
  background: url('../assets/images/login_image.png');
}
/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg);
  color: var(--clr-gray-7);
} */
