.date_range_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.date_range_calendar {
  padding: 0 1rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  cursor: pointer;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date_range {
  position: absolute;
  top: 70px;
  z-index: 1;
}
